ricetta_dematerializzata_dll/wsdl/a2f/sts-a2f-service-data-type.v0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://datatype.xsd.wsdl.auth.a2f.sts.sanita.finanze.it" 
	xmlns="http://datatype.xsd.wsdl.auth.a2f.sts.sanita.finanze.it">
	
	<xs:annotation>
		<xs:documentation>Versione 0.1</xs:documentation>
	</xs:annotation>
	
	<!--  ### SIMPLE TYPE  ###################################-->
	<xs:simpleType name="stringTypeMax256">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="256"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringTypeMax512">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="512"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringTypeMax16">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="codRegioneType">
		<xs:restriction base="stringType3"/>
	</xs:simpleType>
	<xs:simpleType name="codAslType">
		<xs:restriction base="stringType3"/>
	</xs:simpleType>
	<xs:simpleType name="codSsaType">
		<xs:restriction base="stringType6"/>
	</xs:simpleType>
	<xs:simpleType name="contestoType">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="applicazioneType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType2">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType3">
		<xs:restriction base="xs:string">
			<xs:minLength value="3"/>
			<xs:maxLength value="3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType6">
		<xs:restriction base="xs:string">
			<xs:minLength value="5"/>
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>	
	<xs:simpleType name="codStrutturaType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0"/>
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="cfType">
		<xs:restriction base="stringTypeCf"/>
	</xs:simpleType>
	<xs:simpleType name="stringTypeCf">
		<xs:restriction base="xs:string">
			<xs:minLength value="16"/>
			<xs:maxLength value="16"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="esitoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="tokenType">
		<xs:restriction base="xs:string">
			<xs:minLength value="36"/>
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringTypeMax1">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	
	<!--  ####################################################-->
	
	
	<!--  ### COMPLEX TYPE  ###################################-->
	<xs:complexType name="errori">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="errore" type="errore"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="errore">
		<xs:sequence>
			<xs:element name="tipoErrore" minOccurs="0" type="stringTypeMax1"/>
			<xs:element name="codEsito" type="esitoType"/>
			<xs:element name="descrEsito" minOccurs="0" type="stringTypeMax256"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="comunicazioni">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="comunicazione" type="comunicazione"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="comunicazione">
		<xs:sequence>
			<xs:element name="codice" type="stringTypeMax256">
				<xs:annotation>
					<xs:documentation>Codice della comunicazione di servizio.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messaggio" type="stringTypeMax512">
				<xs:annotation>
					<xs:documentation>Testo comunicazione di servizio.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="opzioni">
		<xs:sequence>
			<xs:element maxOccurs="10" name="opzione" type="opzione"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="infoAggiuntive">
		<xs:sequence>
			<xs:element maxOccurs="10" name="opzione" type="info"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="opzione">
		<xs:sequence>
			<xs:element minOccurs="1" name="chiave" type="stringTypeMax256">
				<xs:annotation>
					<xs:documentation>Chiave del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="valore" type="stringTypeMax256">
				<xs:annotation>
					<xs:documentation>Valore del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="info">
		<xs:sequence>
			<xs:element minOccurs="1" name="chiave" type="stringTypeMax256">
				<xs:annotation>
					<xs:documentation>Chiave del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="valore" type="stringTypeMax256">
				<xs:annotation>
					<xs:documentation>Valore del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>	
	
	<xs:complexType name="infoToken">
		<xs:sequence>
			<xs:element name="stato" type="xs:int" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Stato del token</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="descrizione" type="stringTypeMax256" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Descrizione dello stato del token</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="dataInizioValidita"
				type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						Data inizio validità
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="1" name="dataFineValidita"
				type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
						Data fine validità
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="identificativo">
		<xs:sequence>
			<xs:element name="tipo" type="stringType2" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipologia identificativo (attualmente P=pincode, I=id inviante sogei).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="valore" type="stringTypeMax256" minOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificativo cifrato e codificato in base64.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!--  ####################################################-->
	
</xs:schema>