ricetta_dematerializzata/wsdl/dematerializzata/DichiarazioneSostituzioneMedicoRicevuta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://dichiarazionesostituzionemedicoricevuta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodatidichiarazionesostituzionemedico.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dichiarazionesostituzionemedicoricevuta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodatidichiarazionesostituzionemedico.xsd.dem.sanita.finanze.it" schemaLocation="TipiDatiDichiarazioneSostituzioneMedico.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="DichiarazioneSostituzioneMedicoRicevuta">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codEsitoInserimento" type="td:codEsitoType">
					<xs:annotation>
						<xs:documentation>Codice dell'esito globale dell'invio</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataInserimento" type="td:dataOraType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Data inserimento negli archivi del SAC</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoErrori" type="td:elencoErroriType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ripetizione di Errore</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoComunicazioni" type="td:elencoComunicazioniType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ripetizione di Comunicazioni</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
