ricetta_dematerializzata/wsdl/dematerializzata/TipiDatiServiceAnag.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://tipidatiserviceanag.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tipidatiserviceanag.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:simpleType name="fileType">
		<xs:restriction base="xs:base64Binary"/>
	</xs:simpleType>
	<xs:simpleType name="codEsitoType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="stringType">
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="integerType">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="erroreRicettaType">
		<xs:sequence>
			<xs:element name="codEsito" type="codEsitoType"/>
			<xs:element name="esito" type="stringType" minOccurs="0"/>
			<xs:element name="progPresc" type="stringType" minOccurs="0"/>
			<xs:element name="tipoErrore" type="stringType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="elencoErroriRicetteType">
		<xs:sequence>
			<xs:element name="ErroreRicetta" type="erroreRicettaType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="comunicazioneType">
		<xs:sequence>
			<xs:element name="codice" type="stringType">
				<xs:annotation>
					<xs:documentation>Codice della comunicazione di servizio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="messaggio" type="stringType">
				<xs:annotation>
					<xs:documentation>Messaggio di servizio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="elencoComunicazioniType">
		<xs:sequence>
			<xs:element name="Comunicazione" type="comunicazioneType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
