ricetta_dematerializzata_dll/wsdl/dematerializzata/InvioSegnalazioneRichiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://inviosegnalazionerichiesta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodati.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://inviosegnalazionerichiesta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodati.xsd.dem.sanita.finanze.it" schemaLocation="TipiDatiErogatoDifferita.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="InvioSegnalazioneRichiesta">
		<xs:annotation>
			<xs:documentation>Elemento base per la segnalazione di apertura guasto - disservizio</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pinCode" type="td:stringType">
					<xs:annotation>
						<xs:documentation>PinCode inviante</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceRegioneErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice regione della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceAslErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice ASL della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceSsaErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice SSA della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pwd" type="td:pwdType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>identificativo dell'utente che ha effettuato l'operazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codMotivazione" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice motivazione del guasto</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataDal" type="td:dataOraType">
					<xs:annotation>
						<xs:documentation>Data di inizio del guasto-anomalia</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="note" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Note aggiuntive</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic1" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic2" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic3" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
