ricetta_dematerializzata_dll/wsdl/dematerializzata/InvioErogatoDiffRichiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://invioerogatodiffrichiesta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodati.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://invioerogatodiffrichiesta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodati.xsd.dem.sanita.finanze.it" schemaLocation="TipiDatiErogatoDifferita.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="InvioErogatoDiffRichiesta">
		<xs:annotation>
			<xs:documentation>Elemento base per la richiesta di invio in differita della ricetta da parte dell'erogatore</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pinCode" type="td:stringType">
					<xs:annotation>
						<xs:documentation>PinCode inviante</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceRegioneErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice regione della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceAslErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice ASL della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceSsaErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice SSA della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pwd" type="td:pwdType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>identificativo dell'utente che ha effettuato l'operazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numSegnalazioneAnomalia" type="td:stringType">
					<xs:annotation>
						<xs:documentation>numero identificativo della segnalazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nre" type="td:nreType">
					<xs:annotation>
						<xs:documentation>Numero Ricetta Elettronica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfMedico1" type="td:cfMedicoType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice fiscale del medico associato all'NRE inviato o attribuito in fase di registrazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfAssistito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice fiscale dell’assistito prelevato dalla Tessera Sanitaria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoRic" type="td:tipoRicettaType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipologia della ricetta compilata</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cognNome" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Cognome e nome dell'assistito </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="indirizzo" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indirizzo dell'assistito</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codEsenzione" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice esenzione riportato in ricetta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nonEsente" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo che indica se l'assistito e' esente oppure no</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codDiagnosi" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice diagnosi o del sospetto diagnostico</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="descrizioneDiagnosi" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Descrizione della diagnosi o del sospetto diagnostico in testo libero</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataCompilazione" type="td:dataOraType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Data compilazione della ricetta, formato aaaa-mm-gg hh24:mm:ss</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoVisita" type="td:tipoVisitaType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>A - Ambulatoriale, D - Domiciliare</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispReg" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Disposizioni regionali specifiche</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="provAssistito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Provincia di residenza dell'assistito</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="aslAssistito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Asl di residenza dell'assistito</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="indicazionePrescr" type="td:indicPrescType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>S - Suggerita, H - Ricovero</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="altro" type="td:indicPrescType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Indicazione di trattamento di una patologia cronica o non cronica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="classePriorita" type="td:prioritaType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Classe di priorita' della prescrizione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="statoEstero" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Stato del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="istituzCompetente" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Istituzione competente del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numIdentPers" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero di identificazione personale del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numIdentTess" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero di identificazione della tessera del soggetto assicurato da istituzioni estere</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataNascitaEstero" type="td:dataOraType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Data di nascita del soggetto assicurato da istituzioni estere nel formato aaaa-mm-gg</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataScadTessera" type="td:dataOraType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Data scadenza della tessera del soggetto assicurato da istituzioni estere nel formato aaaa-mm-gg</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="prescrizioneFruita" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Dichiarazione di effettiva fruizione della prestazione specialistica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoErogazioneSpec" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo erogazione della prestazione specialistica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ticket" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ammontare della quota di compartecipazione alla spesa sanitaria per farmaceutica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="quotaFissa" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Quota fissa del ticket per prestazione specialistica </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="franchigia" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Franchigia del ticket per prestazione specialistica </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="galDirChiamAltro" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ammontare del prezzo del galenico, del diritto di chiamata spettante alla farmacia in servizio notturno </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="reddito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo che indica se l’assistito e' esente per reddito oppure no: null - non esente, 1 - esente</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataSpedizione" type="td:dataOraType">
					<xs:annotation>
						<xs:documentation>Data di spedizione(erogazione) della ricetta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codAutenticazione" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice di autenticazione del medico rilevato sul promemoria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic1" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic2" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic3" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic4" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic5" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoDettagliPrescrInviiDiffErogato" type="td:elencoDettagliPrescrInviiDiffErogatoType">
					<xs:annotation>
						<xs:documentation>Elenco singole prescrizioni invio erogato</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
