ricetta_dematerializzata_dll/wsdl/dematerializzata/RicercaSegnalazioniRicevuta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://ricercasegnalazioniricevuta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodati.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ricercasegnalazioniricevuta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodati.xsd.dem.sanita.finanze.it" schemaLocation="TipiDatiErogatoDifferita.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="RicercaSegnalazioniRicevuta">
		<xs:annotation>
			<xs:documentation>Elemento base della ricevuta per la ricerca delle segnalazioni</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="codEsitoRicercaSegnalazioni" type="td:codEsitoType">
					<xs:annotation>
						<xs:documentation>Codice dell'esito della ricerca</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="totaleSegnalazioni" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Totale dei risultati delle ricerche</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoSegnalazioni" type="td:elencoSegnalazioniType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Elenco delle segnalazioni ricercate</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoErroriRicette" type="td:elencoErroriRicetteType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ripetizione di ErroreRicetta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ElencoComunicazioni" type="td:elencoComunicazioniType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Ripetizione di Comunicazioni</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
