ricetta_dematerializzata_dll/wsdl/dematerializzata/RicercaErogatoDiffRichiesta.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by aaa (bbb) -->
<xs:schema xmlns="http://ricercaerogatodiffrichiesta.xsd.dem.sanita.finanze.it" xmlns:td="http://tipodati.xsd.dem.sanita.finanze.it" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ricercaerogatodiffrichiesta.xsd.dem.sanita.finanze.it" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://tipodati.xsd.dem.sanita.finanze.it" schemaLocation="TipiDatiErogatoDifferita.xsd"/>
	<xs:annotation>
		<xs:documentation>Versione 1.2</xs:documentation>
	</xs:annotation>
	<xs:element name="RicercaErogatoDiffRichiesta">
		<xs:annotation>
			<xs:documentation>Elemento base per la ricerca di ricette differite</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="pinCode" type="td:stringType">
					<xs:annotation>
						<xs:documentation>PinCode inviante</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceRegioneErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice regione della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceAslErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice ASL della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="codiceSsaErogatore" type="td:stringType">
					<xs:annotation>
						<xs:documentation>Codice SSA della struttura erogatrice</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="pwd" type="td:pwdType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>identificativo dell'utente che ha effettuato l'operazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="numSegnalazioneAnomalia" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>numero identificativo della segnalazione</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="idRicetta" type="td:integerType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Identificativo univoco ricette differite</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="nre" type="td:nreType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Numero Ricetta Elettronica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="cfAssistito" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Codice fiscale dell’assistito prelevato dalla Tessera Sanitaria</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataPeriodoDal" type="td:dataOraType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Data periodo “DAL” nel formato aaaa-mm-gg</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dataPeriodoAl" type="td:dataOraType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Data periodo “AL” nel formato aaaa-mm-gg</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="tipoData" type="td:stringType" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Tipo di data utilizzata per la ricerca: T = data di trasmissione della ricetta - E = data di Erogazione della ricetta</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic1" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic2" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="dispRic3" type="td:string256Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Campo per futuro utilizzo</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
